.action-btns
    .action-btns__inner
        .action-btns__button.action-btns-up
            a(href="#up")
                button(type="button")
                    +sprite("arrow", "img/sprites/sprite.svg#arrow")
        .action-btns__button.action-btns-call
            a(href="https://wa.me/+79032583578")
                button(type="button")
                    +sprite("horse", "img/sprites/sprite.svg#horse")