header.header.layout-none#header
    a.logo(href="/")
        h1 кони Дуни
    nav.header-menu
        ul.header-menu__list
            li.header-menu__item
                a(href='/#photos') Фото
            li.header-menu__item
                a(href='/#faq') Часто спрашивают
            li.header-menu__item
                a(href='/#price') Цены
            li.header-menu__item
                a(href='contacts') Контакты
    include ../../components/burger/burger