section.faq#faq
    .faq-heading
        h2.faq-heading__title Нас часто спрашивают
        p.faq-heading__advice Главный совет – задавайте вопросы. Занятие – это в первую очередь общение с инструктором. Интересуйтесь о структуре занятия, лошадьми, как за ними ухаживать. Но в первую очередь старайтесь как можно лучше узнать повадки и характер лошадей. Это не только необходимо – это самая интересная часть обучения.
    section.accordion
        .accordion__inner
            .accordion__tabs
                .accordion__tab
                    .accordion__heading
                        div.accordion__title Можно приехать просто так, без записи?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p Конечно, вы можете заехать к нам, если проезжали мимо. Но покататься в таком случае не получится.
                        p Гостей много и занятия планируются за несколько дней. Загруженность настолько высокая, что у нас даже не всегда хватает времени пообщаться со всеми гостями и ответить на все вопросы.
                        p Если вы приехали спонтанно, вы можете познакомиться с хозяйкой Дуней, если занятия проходят в крытом манеже или в поле около конюшни. Договориться о поездке, увидеть лошадок, пасущихся в поле. Подходить к животным обязательно надо в присутствии инструктора!
                        p Пожалуйста, не обижайтесь, если вас никто не встретил или не отвёл вам столько внимания, сколько вы бы хотели! Мы правда бываем очень заняты! Но мы всегда открыты к общению и вопросам.
                        p Если же вы хотите именно покататься на лошадях, записывайтесь за день или два, чтобы вам подобрали лошадей под Ваш уровень езды и пожелания.
                .accordion__tab
                    .accordion__heading
                        div.accordion__title В чём мне приезжать на занятие?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p Перед поездкой в koniduni вы можете не заходить в спортивный магазин за крагами, бриджами и прочим снаряжением. Каски мы выдаём на конюшне, всё остальное снаряжение для лошадей у нас есть. Главное, что вы должны помнить:
                        ul
                            li Нужно быть одетым по погоде
                            li Нужно быть одетым удобно
                        p <strong>Безопасность</strong>. На конюшне мы выдаём шлем, так что покупать его на первое время не обязательно.
                        p <strong>Одежда</strong>. Нельзя садиться на лошадь с голыми ногами: седло и амуниция во время езды может поранить, в поле или в лесу можете поцарапаться о растения и амуницию в процессе езды.
                        p <strong>Обувь</strong>. Желательна высокая обувь в осенний – зимний – весенний сезоны, да и новичкам она просто необходима, чтобы научиться правильно держать ногу в стремени. В сухую погоду можно приехать в кроссовках и даже кедах. Но помните, что у нас полевая езда, а это значит, что может быть пыльно и грязно.
                .accordion__tab
                    .accordion__heading
                        div.accordion__title С какого возраста катаем?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p У нас катаются с 4 лет, дети очень хорошо чувствуют лошадей и есть много лошадок, обученных с раннего возраста катать маленьких гостей.
                        p К нам приезжают всадники всех возрастов, приезжают кататься с родителями, бабушками и дедушками. Главное понимать, что катание на лошади – не игра в мяч, это занятие требует внимательности.
                        p Слушайте тренера, любите лошадей – и вам обязательно понравится кататься на лошадях.
                .accordion__tab
                    .accordion__heading
                        div.accordion__title Как проходят занятия? Какие есть варианты?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p Занятия проходят на открытом воздухе круглый год. Занятие длится час или два. Вы можете выбрать:
                        ul
                            li катание в поле в составе смены (вереницы лошадей). Такой тип занятия подходит для пробного заезда или практики элементов,  отработанных в манеже.
                            li катание в манеже для отработки посадки и выездки. Тренер уделяет внимание каждому всаднику. Вы можете получить ответы на вопросы по всем элементам езды, которые хотите освоить. Исправить ошибки, которые не всегда получается заметить во время поездки в поле.
                .accordion__tab
                    .accordion__heading
                        div.accordion__title Шагом или рысью? Сложно ли научиться кататься на лошади?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p Успокоим вас, научиться ездить на лошади несложно. Обычно мы учим кататься рысью уже на первом занятии. Лошади ведут себя спокойно и осторожно. Это очень умные и чувствительные животные, и они понимают, когда на них сидит новичок, а когда опытный всадник. Конечно, нюансов в езде на лошади много, но понимать это люди начинают с опытом, когда есть с чем сравнивать и всадник уверенно ведёт лошадь.
                        p У нас есть несколько вариантов занятия: индивидуальное занятие, в смене (это когда несколько всадников едут друг за другом в поле или в манеже), с рысью или только шагом. Инструктор подбирает лошадь индивидуально под вас!
                        p Вас никто не будет заставлять отрабатывать сложные и скучные элементы езды или, как бывает в некоторых клубах, ходить шагом несколько занятий, пока инструктор не решит, что вы готовы перейти на лёгкую рысь.
                .accordion__tab
                    .accordion__heading
                        div.accordion__title Есть ли парковка, кафе, удобства?
                        +sprite("accordion__icon", "img/sprites/sprite.svg#arrow")
                    .accordion__content
                        p Прежде всего вы должны понимать, что мы – ферма. Мы не КСК и не двор в европейском понимании слова. У нас своё хозяйство: много кур, собак, есть свиньи, мы живём в сельской местности. Некоторые лошади "на пенсии" или куплены после жесткого обращения, поэтому не катают людей и не у всех из них лощённый внешний вид.
                        p Мы делаем всё, что можем, чтобы гостям было удобнее, но вы приезжаете кататься в сельскую ферму, поэтому:
                        ul
                            li да, у нас есть парковка около точки выезда. Но дороги иногда размывает дождями, а у конюшни может парковаться рабочий транспорт или ходят лошади. Вообще место можно найти всегда, просто если что обращайтесь к хозяевам и гостям.
                            li есть туалет в отдельной кабине около поля, он соответствует походным условиям.
                            li кафе нет. Мы живём по принципу взаимопомощи и среди нас много энтузиастов, так что часто постоянные прокатчики берут на себя инициативу, привозят чай и пирожки. А в сезонных походах мы часто устраиваем полевую кухню
                            li общение с тренером после катания, если тренер не занят сбором следующих гостей. Отнеситесь с пониманием, тренер не всегда в состоянии уделить всё своё время одному гостю из-за большого количества обязанностей. Для таких случаев есть индивидуальные занятия и время после катания. Вопросы по езде к тренеру во время занятия, мы всегда рады прокомментировать и дать как можно больше знаний о лошадях.
                            li общение. То, что не успеваете спросить у тренера, вам расскажут другие всадники. Не стесняйтесь знакомиться и задавать вопросы, вам всегда развёрнуто ответят