section.about
    h1 Немного о нас
    p Мы занимаемся прокатом лошадей, обучением верховой езде, организацией праздников. Наша школа существует с 2011 года и рассчитана на всадников с любым опытом. Дети от 2 до 4 лет учатся кататься на пони, маленьким наездникам от 6 лет можно выбрать лошадь. <br><br>С вами будут заниматься опытные и чуткие педагоги. У нас вы всегда найдёте лошадь себе по вкусу, приятные цены и замечательную компанию.