.demonstration
    .demonstration-bream.layout-none
        .demonstration-bream__min-area
            .demonstration-bream__descr Близкое общение
        .demonstration-bream__min-area
            .demonstration-bream__descr Зимние прогулки с друзьями
        .demonstration-bream__min-area
            .demonstration-bream__descr Красивые закаты верхом
        .demonstration-bream__min-area
            .demonstration-bream__descr Да, мы и так можем
        .demonstration-bream__min-area
            .demonstration-bream__descr По колено в снегу галоп в 2 раза мягче
        .demonstration-bream__min-area
            .demonstration-bream__descr Сильные лошади в партнёрстве с человеком
        .demonstration-bream__min-area
            .demonstration-bream__descr Дружба через года
        .demonstration-bream__min-area
            .demonstration-bream__descr Привалы в долгих поездках
        .demonstration-bream__min-area
            .demonstration-bream__descr Костюмированные походы
        .demonstration-bream__big-area
            .demonstration-bream__descr Рай на земле - верхом на коне
    .demonstration-bream-mob.slide-beyond.swiper#demonstration-bream-mob.layout-none
        .demonstration-bream-mob-wrapper.swiper-wrapper
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/black-horse.webp" alt="Близкое общение")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/children.webp" alt="Зимние прогулки с друзьями")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/zorro.webp" alt="Красивые закаты верхом")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/wow.webp" alt="Да, мы и так можем")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/winter-path.webp" alt="По колено в снегу галоп в 2 раза мягче")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/vermut.webp" alt="Сильные лошади в партнёрстве с человеком")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/trio.webp" alt="Дружба через года")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/tea-horse.webp" alt="Привалы в долгих поездках")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/squaw-with-cowboy.webp" alt="Костюмированные походы")
            .demonstration-bream-mob-slide.swiper-slide
                img(data-src="./img/fish-eye.webp" alt="Рай на земле - верхом на коне")
        .demonstration-bream-mob-scrollbar.slide-beyond-scrollbar.swiper-scrollbar