main.main.layout-none
    .main-slider.slider.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden#slider
        .main-slider-wrapper.slider-wrapper.swiper-wrapper(style='transition-duration: 0ms; transform: translate3d(-4724px, 0px, 0px);')
            .main-slider-slide.slider-slide.swiper-slide.swiper-slide-duplicate-next(data-swiper-slide-index='0', style='width: 1181px;')
                img(src='./img/hi.webp' alt='Мы приветствуем вас в koniduni')
                h2.main-text Мы-конная ферма в Московской <br>области, в селе Онуфриево
            .main-slider-slide.slider-slide.swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-active(data-swiper-slide-index='3', style='width: 1181px;')
                img(src='./img/hey-amigo.webp' alt='Хей, амиго, присоединяйся к нам!')
                h2.main-text Выезжаем на праздники, <br>ездим в конные походы.
            .main-slider-slide.slider-slide.swiper-slide(data-swiper-slide-index='1', style='width: 1181px;')
                img(src='./img/field-sun.webp' alt='Посмотри, какие красивые кадры у нас получаются!')
                h2.main-text Обучаем детей и <br>взрослых кататься на лошадях
            .main-slider-slide.slider-slide.swiper-slide.swiper-slide-prev(data-swiper-slide-index='2', style='width: 1181px;')
                img(src='./img/girl-on-the-contrary.webp' alt='У нас катаются и дети, и взрослые')
                h2.main-text Проводим конкурные <br>занятия
        .main-slider-navigation.slider-navigation
            .main-slider-pagination.slider-pagination.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal#slider-pagination
                span.swiper-pagination-bullet
                span.swiper-pagination-bullet
                span.swiper-pagination-bullet
                span.swiper-pagination-bullet.swiper-pagination-bullet-active
            .main-slider-button-prev.slider-button-prev.swiper-button-prev
            .main-slider-button-next.slider-button-next.swiper-button-next