.map
    h2.map__heading Как к нам проехать
    p.map__descr Мы находимся в селе Онуфриево, Московской области, Истринского района, 78км от Москвы по Новорижскому шоссе.<br><br>Ориентир: оранжевая табличка у дороги с нашим названием. Парковка в поле, слева от высокого зелёного забора.<br><br>Перед приездом просьба предупреждать заранее, если хотите покататься.
    .layout-none
        iframe.map-frame(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa6c325260e13de417089db3cc2c1ad69c6e2bcd74821cec84dba048a2cc8c4b9&amp;source=constructor" width="100%" height="400")