.briefly-about-us
    h2 Что нужно о нас знать
    p Мы не КСК в привычном смысле слова, мы – конная ферма. Поэтому:
    p Приезжайте в простой одежде, соответствующей погодным условиям.
    p У нас нет кафе, комфортабельного туалета, а парковка расположена в открытом поле.
    p У нас живые, не замученные муштрой лошади, которые охотно общаются с людьми. У каждой лошади свой характер и вам всегда будет интересно узнавать об обитателях koniduni что-то новое.
    p Согласуйте свой приезд по телефону, так как хозяева и лошади могут быть заняты.
hr