section.price#price
    .table__wrapper
        table.table
            caption.table__caption
                h2 Наши цены (при раннем бронировании за 2-3 дня)<br>будние / выходные, 1 час
            thead
                tr.table__row
                    th.table__header Тип занятия
                    th.table__header Цена
            tbody.table__body
                tr.table__row
                    td.table__data.price-name Занятие верхом
                    td.table__data.price-number 1200 / 1400 р
                tr.table__row
                    td.table__data.price-name Парное занятие с ребёнком в двойном седле
                    td.table__data.price-number 1700 / 1900 р
                tr.table__row
                    td.table__data.price-name Выезды от 2 и более часов
                    td.table__data.price-number 2400 / 2800 р
                tr.table__row
                    td.table__data.price-name Индивидуальное занятие
                    td.table__data.price-number 1700 / 1900 р
                tr.table__row
                    td.table__data.price-name Конкурное занятие
                    td.table__data.price-number 1500 / 1700 р
                tr.table__row
                    td.table__data.price-name Катание на санях (45 мин)
                    td.table__data.price-number 5000 р
                tr.table__row
                    td.table__data.price-name Катание в нартах на Хасках (45 мин)
                    td.table__data.price-number 3000 р
            tfoot.table__footer
                tr.table__row
                    td.table__data(colspan="3") <strong>При спонтанной записи за день стоимость дороже на 200 рублей</strong>