footer.footer
    a.logo(href="/")
        div кони Дуни
    .footer-contacts
        .footer-contacts__adress Истринская область, село Онуфриево, ул. Молодёжная, дом 18
        a(href='tel:+7-903-258-35-78') +7-903-258-35-78
        a(href='mailto:safronovadunja@gmail.com') safronovadunja@gmail.com
        .footer-contacts__socials
            a(href="https://vk.com/koniduni")
                +sprite("vk", "img/sprites/sprite.svg#vk")